version: '3.7'

services:
  prometheus:
    image: prom/prometheus:v2.44.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:9.5.2
    container_name: grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources

  mysql:
    image: mysql:latest
    container_name: hrdb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: hrdb
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3302:3306"
    expose:
      - "3306"

  mysql-exporter:
    image: prom/mysqld-exporter
    depends_on:
      - mysql
    command:
      - --config.my-cnf=/cfg/.my.cnf
      - --mysqld.address=mysql:3306
    ports:
      - "9104:9104"
    volumes:
      - ./.my.cnf:/cfg/.my.cnf:ro
